
.control-stats {
  border: 1px white solid;
  width: 150px;
  margin: 8px;
  padding: 5px;
  border-radius: 6px;
  text-align: center;
  h3 {
    font-size: 100%;
    margin: 5px 0 4px;
  }
  .metric {
    font-size: 60%;
  }
  .stat {
    font-weight: bold;
    font-size: 150%;
    color: #ccff33;
    margin: 8px 0 4px;
  }
}