.doe-run {
  .button {
    margin-left: 20px;
  }
}

form.doe-form {
  padding: 10px;
  div {
    margin-bottom: 10px;
  }
  textarea {
    color: white;
    padding: 4px;
    height: 6rem;
    width: 100%;
    background: #020;
  }
  .doe-notes-label {
    margin-top: 20px;
  }
  .button {
    margin-right: 20px;
  }
  .doe-actions {
    margin: 0;
  }

}