$bg-color: #111133;
$bg1-color: #332266;
$fg-color: #f0fff0;
$button-fg-color: #ffffff;
$button-bg-color: #5500cc;

.mqtt-type-bg {
  // MQTT Message type
  .Chat,     .chat     { background-color: #40b; }
  .Errors,   .error    { background-color: #c09; }
  .Warnings, .warning  { background-color: #c60; }
  .Alarms,   .alarm    { background-color: #911; }
  .Inputs,   .input    { background-color: #236; }
  .Outputs,  .output   { background-color: #062; }
  .Debug,    .debug    { background-color: #000; }
  .User,     .user     { background-color: #962; }
  .Admin,    .admin    { background-color: #555; }
  .Notes,    .notes    { background-color: #a0d; }
  .DOE,      .doe      { background-color: #089; }
//.Status,   .status   { background-color: #92f; }
  .Notify,   .notify   { background-color: #62c; }
}

.mqtt-client-bg {
  // MQTT message source
  .riolc      { background-color: #621 }
  .epiclc     { background-color: #52a; }
  .arduino2   { background-color: #040; }
  .arduino3   { background-color: #090 }
  .arduino4   { background-color: #029 }
  .arduino5   { background-color: #03d }
  .hmi1       { background-color: #a51; }
  .controller { background-color: #719; }
  .server     { background-color: #630; }
  .mqtt_sim   { background-color: #666; }
}

.difference-grey-bg   { background-color: #666; }
.difference-red-bg    { background-color: #a34; }
.difference-orange-bg { background-color: #d70; }
.difference-green-bg  { background-color: #0a0; }
.difference-cyan-bg   { background-color: #46f; }
.difference-blue-bg   { background-color: #20c; }
