@import "../../styles/base";

.control-button {
  float: none;
  margin: 0 1px;
  padding: 0;

  &.reset {
    display: inline-block;
    margin-left: 51px;
  }
  &.status {
    display: inline-block;
  }
  button {
    padding: 0 2px;
    font-size: 75%;
    background: #446;
  }
}
.select-debug-level {
  display: inline-block;
  select {
    font-size: 76%;
    color: white;
    background: #446;
    padding: 2px;
    border-radius: 3px;
  }
}

.row2 {
  @include clearfix;
}

.checkbox {
  margin-bottom: 2px;
  border-radius: 4px;
  &.all {
    margin-bottom: 10px;
  }
  padding: 1px 0;
  input {
    margin: 4px 4px;
  }
  label {
    display: inline-block;
    margin-left: 4px;
    width: calc(100% - 30px);
  }
}