@import "../../styles/colors";
@import "../../styles/base";

.mqtt-filter-type {
  display: inline;
  .select {
    padding: 10px;
    background: $bg1-color;
    border-radius: 4px;
    width: calc(100% - 20px);
    &.all-selected {
      background: lighten($bg1-color, 20%);
      input:checked {
        background: #555;
      }
    }
  }
}