@import "../../styles/colors";
@import "../../styles/base";

.mqtt-display {
  display: inline;
  width: calc(100% - 150px);
  .mqtt-list {
    height: calc(100vh - 188px);
    max-height: 800px;
    overflow-y: auto;
  }
}